---
import { css } from "../../styled-system/css";
import { Center } from "../../styled-system/jsx";
import Layout from '../layouts/Layout.astro'
import SiteHeader from '../components/SiteHeader.astro'
const theme = import.meta.env.PANDA_THEME

const getKanjiByTheme = () => {
	switch (theme) {
		case 'tokyo':
			return '東京'
		default:
			return '京都'
	}
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Layout title={theme}>
		<SiteHeader />
		<Center className={css({textStyle: '7xl', height: '100vh' })}>{getKanjiByTheme()}</Center>
	</Layout>
</html>
